<h1>Contact Page</h1>

<h2>How can we help you?</h2>

<form action="/answer" data-turbo="false">
  <label for="help">Please specify type of help ...</label>
  <input id="help" name="help" type="text" placeholder="I need help with setting up my first Rails page">
  <input type="submit" value="Ask!" class="btn btn-primary mb-3">
</form>
